@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

@import "./postTemplate_style";

.dendense-font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.img-wrapper {
    object-fit: cover;
}